@import "tailwindcss";

:root {
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-montserrat);
}

@keyframes fadeInSoft {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section{
  animation: fadeInSoft 0.9s ease-out both;
}


